{{ define "main" }}
    <div class="flex flex-wrap gap-4 md:flex-row">
        {{ $pages := sort .Pages "Params.title" }}
        {{ range $pages }}
            <a href="{{ .RelPermalink }}" class="w-full md:w-[48%]">
                <div class="w-full">
                    <h2 class="my-1 text-lg font-bold text-offwhite">{{ .Title }}</h2>
                    <img src="{{ .RelPermalink }}images{{ .Params.preview }}" class="object-cover w-full h-auto aspect-[4/3] rounded-lg" />
                </div>
            </a>
        {{ end }}
    </div>
{{ end }}