<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body class="box-border mx-5 md:max-w-3xl md:mx-auto bg-background">
    <div class="py-3 text-xs font-bold uppercase text-primary">
        <a href="/recipes">←  All Recipes</a>
    </div>
    <hr class="text-primary" />
    <h1 class="text-4xl font-extrabold text-center pt-14 text-text">{{ .Title }}</h1>
    <main class="box-border w-full leading-snug prose dark:prose-invert prose-scheme max-w-none md:prose-img:max-w-2xl prose-img:mx-auto prose-img:rounded-lg">
        <img class="my-10" src="{{ .RelPermalink }}images{{ .Params.preview }}" />
        {{ .Content }}
    </main>
    <footer class="my-6 text-xs text-center text-text">
        &copy; 2021-{{ dateFormat "2006" now }} Sharan.
    </footer>
</body>
</html>