<!DOCTYPE html>
<head>
    {{ partial "head.html" . }}
</head>
<body class="flex flex-col max-w-5xl min-h-screen gap-4 px-5 m-0 mx-auto md:p-0 md:gap-16 md:flex-row bg-background">
    <div class="pt-20 md:min-h-screen md:flex-2">
        <img class="w-20 mb-2 rounded-full" src="/img/profile.webp" />
        <h1 class="text-3xl font-extrabold uppercase text-primary">Sharan</h1>
        <p class="mt-2 w-80 text-text">UBC undergrad interested in bioinformatics, computational biology, and statistics.</p>
        <ul class="flex flex-row gap-5 mt-5 text-2xl text-primary">
            <li><a href="https://discord.com/invite/PMzqbaVEsH"><i class="fa-brands fa-discord"></i></a></li>
            <li><a href="https://github.com/justsharan"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://youtube.com/@biologywithsharan"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
        <ul class="[&>*]:my-2 text-lg text-text font-semibold mt-10 [&>*:hover]:text-offwhite">
            <li><a href="/">Home</a></li>
            <li><a href="/now">Now</a></li>
            <li><a href="/posts">Posts</a></li>
            <!-- <li><a href="/blog">Technical Blog</a></li> -->
        </ul>
        <a href="https://notbyai.fyi/" target="_blank"><img src="/img/notbyai.svg" class="hidden py-5 md:block" /></a>
        <p class="hidden text-xs text-text md:block">&copy; 2021-{{ dateFormat "2006" now }} Sharan. <a href="https://github.com/justsharan/sharansr.com" target="_blank" class="underline">View source</a>.</p>
    </div>
    <div class="pb-10 md:py-20 md:flex-1">
        {{ block "main" . }}
        {{ end }}
    </div>
</body>
</html>