{{ define "main" }}
   <div class="prose prose-scheme dark:prose-invert">I wanna start writing longer-form movie reviews soon... Got some saved in my Notes app and other miscellaneous places that I'll polish up and start putting on here. Until then you should totally check out my <a href="https://letterboxd.com/justsharan" target="_blank">Letterboxd</a> as well for my film ratings and reviews.</div>
    <div class="flex flex-col gap-8 my-10 md:mb-0">
        {{ range .Pages }}
            <a href="{{ .RelPermalink }}">
                <div>
                    <p class="text-xs font-bold uppercase text-primary"><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z0700" }}'>{{ .Date.Format "Jan 2, 2006" }}</time> • {{ .ReadingTime }} min read</p>
                    <h2 class="my-1 mb-4 text-2xl font-bold text-offwhite">{{ .Title }}</h2>
                    <img class="w-full h-auto rounded-lg" src="{{ .RelPermalink }}images/{{ .Params.preview }}" />
                </div>
            </a>
        {{ end }}
    </div>
{{ end }}
